/???kube/
/master-*/
/worker-*/
/.vagrant/
/ubuntu-bionic-18.04-cloudimg-console.log
/ubuntu-xenial-16.04-cloudimg-console.log
/ssh.config
/.docker/
/.kube/
/dashboard.bat
/dockerenv
/dockerps.bat
/dockersh.bat
/duk/
/devops/
/misegr/
/kubeenv
/kubeps.bat
/kubesh.bat
/data-??/
/devday
/devops
/duk
/misegr
/mlg
/modtec
/istio-1.3.3/
/RechnungStep3.bpmn
/cr-cache/
/weave.bat
/duk-demo/
/id_digicomp
